.*.sw*

fledgeling.log
fledgeling.txt

*.pyc
.ipynb_checkpoints

venv3

*.json

*mceq_data.pkl

*.txt

*.pkl

/pics/*

fledgeling.egg-info
fledgeling.egg-info
build
dist
/fledgeling/generated.c
*.pyx
*.pyd